<!DOCTYPE configuration>


<configuration scan="true">
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>
        <remoteHost>10.168.160.53</remoteHost>
        <port>5959</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"RAF Engine"}</customFields>
        </encoder>
    </appender>

    <appender name="logstash-dev" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>
        <remoteHost>10.168.160.76</remoteHost>
        <port>5959</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"RAF Engine"}</customFields>
        </encoder>
    </appender>

    <springProfile name="prod">
    <!--    <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

    <root level="INFO">
        <appender-ref ref="logstash"/>
    </root>
    </springProfile>


    <springProfile name="dev">
<!--            <include resource="org/springframework/boot/logging/logback/base.xml"/>-->

        <root level="INFO">
            <appender-ref ref="logstash-dev"/>
        </root>
    </springProfile>
</configuration>


<!--<springProfile name="prod">
    <root level="INFO">
      <appender-ref ref="FILE" />
    </root>
  </springProfile>-->